html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
}

.producto {
    width: 20vw;
    min-width: 204px;
    margin: 1.5rem;
}

.img-producto {
    width: 100%;
}

.datos-producto {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.datos-producto h2, .datos-producto p {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    font-weight: 300;
    font-size: 1.3rem;
}


