html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #fdfdfd;
}

.contenedor_inventario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
}

.contenedor_producto {
    width: 20vw;
    min-width: 204px;
    margin: 1.5rem;
    box-shadow: 0 4px 10px #888;
}

.imagen_producto {
    width: 100%;
}

.contenedor_datos_producto {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-inline: 5px;
}

.contenedor_datos_producto h2, .contenedor_datos_producto p {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    font-weight: 300;
    font-size: 1.3rem;
}




